In [20]:
import pandas as pd
import random_address
import numpy as np

In [2]:
name_male = pd.read_csv("D:\jupyter_notebook\SIH\Indian-Male-Names.csv")

In [3]:
name_male.head()

              name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian

In [4]:
name_female =  pd.read_csv("D:\jupyter_notebook\SIH\Indian-Female-Names.csv")

In [5]:
name_female

                            name gender    race
0                        shivani      f  indian
1                           isha      f  indian
2                smt shyani devi      f  indian
3                          divya      f  indian
4                          mansi      f  indian
...                          ...    ...     ...
15377                 saroj devi      f  indian
15378              naina @ geeta      f  indian
15379  manju d/0 baboo lal jatav      f  indian
15380                    shivani      f  indian
15381                      nayna      f  indian

[15382 rows x 3 columns]

In [6]:
nm = name_male[:300]

In [7]:
nf = name_female[:300]

In [8]:
name = pd.concat([nm,nf])

In [9]:
type(name)

pandas.core.frame.DataFrame

In [10]:
type(nf)

pandas.core.frame.DataFrame

In [11]:
name = np.array(name)

In [12]:
name = pd.DataFrame(name,columns=["name","gender","race"])

In [13]:
type(name)

pandas.core.frame.DataFrame

In [14]:
name = name.sample(frac = 1)

In [15]:
name.head()

                  name gender    race
238          jai singh      m  indian
35   shiv shakti singh      m  indian
268         raja kumar      m  indian
543              anita      f  indian
400              jyoti      f  indian

In [16]:
add = random_address.real_random_address_by_state("CA")

In [17]:
add

{'address1': '40902 Ingersoll Terrace',
 'address2': '#APT 205',
 'city': 'Fremont',
 'state': 'CA',
 'postalCode': '94538',
 'coordinates': {'lat': 37.537485, 'lng': -121.9558629}}

In [18]:
#add 
#addhar no
#dob
 #your #name, address?, #gender, #date of birth?,#age?, ten finger prints?, facial photograph?, #mobile number (optional)? and #email ID (optional)?,#addhar_no?.

In [19]:
import random

In [20]:
phno = []

In [21]:
for i in range(600):
    phno.append(random.randint(1000000000,9999999999))

In [22]:
phone_no = np.array(phno)

In [23]:
phone_no = pd.DataFrame(phone_no,columns=["phone_name"])

In [24]:
dob = []

In [25]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from random import choices
test_date1, test_date2 = date(1922, 1,1 ), date(2022, 1, 1)
K = 600
res_dates = [test_date1]
while test_date1 != test_date2:
    test_date1 += timedelta(days=1)
    res_dates.append(test_date1)
res = choices(res_dates, k=K)
dob.append(res)

In [26]:
phone_no.head()

   phone_name
0  8870420417
1  6685222304
2  1769586754
3  9150944354
4  8383788450

In [27]:
from datetime import datetime

In [28]:
dob_year = []
dob_month = []
dob_day = []
dob_yr = []

In [29]:
for i in range(600):

    year = dob[0][i].strftime("%Y")
    month = dob[0][i].strftime("%m")
    day = dob[0][i].strftime("%d")
    dob_yr.append(year)
    dob_month.append(month)
    dob_day.append(day)

In [30]:
dob_year = np.array(dob_yr)
dob_month = np.array(dob_month)
dob_day = np.array(dob_day)

In [31]:
dob_year = pd.DataFrame(dob_year,columns=["dob_year"])
dob_month = pd.DataFrame(dob_month,columns=["dob_year"])
dob_day = pd.DataFrame(dob_day,columns=["dob_year"])

In [32]:
dob_year.head()

  dob_year
0     1983
1     1940
2     2000
3     1926
4     2013

In [33]:
age =[]
for i in dob_yr:
    age.append(int((date.today().year-int(i))))

In [34]:
type(age[10])

int

In [35]:
age = np.array(age)
age = pd.DataFrame(age,columns=["age"])

In [36]:
age.head()

   age
0   39
1   82
2   22
3   96
4    9

In [37]:
addhar_no = []
for i in range(600):
    addhar_no.append(random.randint(100000000000,999999999999))
addhar_no = np.array(addhar_no)
addhar_no = pd.DataFrame(addhar_no,columns=["addhar_no"])

In [38]:
addhar_no.head()

      addhar_no
0  546550839738
1  593116539308
2  616538616493
3  255157338359
4  894837180905

In [39]:
n = np.array(name["name"])

In [40]:
type(n[1])

str

In [41]:
index = []
counter = 0
for i in n:
    k = i
    for j in k:
        if(ord(j) >=65 and ord(j)<=122):
            index.append(counter)
    counter +=1

TypeError: 'float' object is not iterable

In [42]:
name["name"][3]

'birender mandal'

In [43]:
k = name["name"][3]
counter = 0

for j in n:
        for i in j:
            print(i)
        counter += 1

j
a
i

s
i
n
g
h
s
h
i
v

s
h
a
k
t
i

s
i
n
g
h
r
a
j
a

k
u
m
a
r
a
n
i
t
a
j
y
o
t
i
a
a
r
t
i
i
s
h
a
a
k
a
s
h

g
u
p
t
a
r
u
p
e
s
h
r
a
h
u
l

k
u
m
a
r
r
a
h
i
l
a

m
a
q
b
o
o
l
p
a
r
v
e
s
h
a
m
a
r

d
e
e
p

k
a
u
r
k
u
l
d
e
e
p

s
i
n
g
h
a
a
k
a
n
k
s
h
a
p
o
o
j
a
s
u
n
i
t
a
p
o
o
j
a
p
a
r
v
e
e
n
s
a
s
h
i
g
a
j
e
n
d
e
r

s
i
n
g
h

@

g
o
l
d
y
k
o
s
h
a
l
l
a
x
m
i


k
u
m
a
r
i
s
a
l
i
m
a
m
u
r
a
r
i
s
h
a
j
i
y
a
b
a
d
s
h
y
a

k
h
a
n
m
o
h
a
n

s
i
n
g
h
n
a
u
s
a
d
s
i
t
a
r
a
a
a
s
m
i
n
f
o
o
l
j
h
n
a
h
k
h
u
s
h
b
u
c
h
a
n
g
o

u
r
a
o
n
m
e
e
n
a
a
a
r
t
i
r
a
n
u

t
i
w
a
r
i
s
u
k
h
d
e
v
s
h
i
v
a
m
a
m
i
t

k
u
m
a
r
d
h
a
n
w
a
n
t
i


d
e
v
i
s
a
p
n
a
n
a
g
m
a

k
h
a
t
o
o
n
s
u
b
h
a
d
r
a
k
u
n
a
l

@

k
a
n
n
u
b
a
b
i
t
a
s
h
e
a
k

s
h
a
k
i
r
k
e
s
h
a
r

a
n
s
a
r
i
p
r
i
t
i
a
r
u
n
p
o
o
j
a

p
r
a
j
a
p
a
t
i

@

p
r
a
t
i
b
h
a
n
a
g
i
n
a
r
a
j
a

b
a
b
u
j
y
o
t
i
m
a
d
a
n
a
d
i
t
y
a

s
o
m
s
n
a
h
e
e
n
a

d
/
o

z
a
m
i
l

a
k
h
t
a
r
r
a
v
i

k
u
m
a
r
t
a
m
m
a
n
n
e
r
a
k
h
i
c
h
a
n
d
e
s
h
m
a
z
i
d
a
a
k
a
s
h

g
u
p
t
a
p
o
o
j
a

j
a
y
s
h
w
a
l
p
i
n
k
i
j
a
h
o
o
r

a
h
m
e
d

m
e
e
r
k
a
u
s
h
a
l
i
y
a
k
a
l
i

c
h
a
r
a
n
k
a
r
a
n
p
o
o
r
a
n

c
h
a
n
d

s
h
a
r
m
a
k
o
m
a
l
p
a
w
a
n
s
a
r
o
j
g
r
a
c
e

p
.
a
.
s
h
u
b
h
a
m

y
a
d
a
v
p
i
n
t
u

t
h
a
k
u
r
a
n
u
b
h
a
v

s
h
r
i
v
a
s
t
a
b
a
a
r
t
i
a
r
i
n
d
r
a
a
m
a
r
d
e
e
p
l
a
l
i
t

k
a
t
h
u
r
i
y
a
p
r
i
y
a
n
k
a
d
i
n
e
s
h
r
a
n
j
u
s
u
n
i
t
a
a
m
i
t
k
i
r
a
n
p
o
o
j
a
j
y
o
t
i
m
a
n
j
u
s
h
a
b
a
n
m
s
o
n
i
y
a
m
a
h
a
b
i
r

p
r
a
s
a
d
p
r
e
e
t
i
m
i
d
d
a
s
a
s
h
i

m
i
t
t
a
l
d
e
v
i
n
d
e
r

c
h
a
d
d
a
m
d

m
u
s
t
a
f
a
p
o
o
r
a
n

c
h
a
n
d
m
a
m
t
a
s
o
h
n
i
k
h
a
d
a
k

s
i
n
g
h
v
a
r
s
h
a
p
r
i
y
a
n
k
a
m
o
h
d
.

m
u
k
h
t
a
a
r
k
a
s
i
d
r
i
n
k
u

m
a
l
a
v
s
h
i
v

k
u
m
a
r
t
r
i
p
t
i
n
o
o
r

b
a
n
o
a
a
s
h
i
y
a
k
a
r
i
n
a

@

k
a
v
i
t
a
p
o
o
j
a
p
o
o
n
a
m
s
a
c
h
i
n
a
s
m
a

k
h
a
t
u
n
s
u
n
i
l

k
u
m
a
r
r
o
h
i
t
v
i
p
i
n
s
h
a
k
s
h
i
m
d
.

a
f
s
a
r
s
e
v
a
k

@

p
i
t
a
m
b
a
r

l
a
l
n
e
e
t
u
s
a
t
y
a
d
e
v
k
a
r
t
i
k

@

k
a
k
u
k
a
j
a
l
a
r
m
a
n

a
n
s
a
r
i
s
h
a
d
a
b
m
e
e
n
a
s
a
n
d
e
e
p
r
i
y
a

m
a
s
i
c
h
a
n
d
n
i
d
e
e
p
a
k
p
a
n
k
a
j

k
u
m
a
r
a
s
h
a
d
e
e
y
a

k
u
m
a
r
i
r
a
k
e
s
h
s
a
n
j
a
y

c
h
a
r
e
e
s
a
n
g
e
e
t
a
a
a
r
t
i

d
e
v
i
m
a
n
i
s
h

g
a
r
g
a
n
u
r
a
d
h
a
n
i
s
h
a
n
e
h
a
k
u
l
d
e
e
p
s
a
h
i
n
a
k
h
i
l
e
s
h
p
a
n
k
a
j

c
h
a
n
d
j
a
t
i
n

@

s
o
n
u
n
i
k
h
i
l
a
r
c
h
n
a
p
r
i
y
a
n
k
a
s
u
r
a
j
h
e
m
a
n
t
n
e
h
a
p
r
e
e
t
a
m

k
u
m
a
r
k
a
m
n
i
s
i
l
e
n
d
e
r
r
o
h
i
t

k
u
m
a
r
p
a
w
a
n

k
u
m
a
r
d
i
m
p
a
l

@
d
o
l
i
t
a
p
a
s

d
a
s
r
a
j
a

k
u
m
a
r
p
r
i
y
n
k
a
s
h
e
n
a
z
v
i
n
o
d

l
a
l
c
h
a
m
p
a

k
a
r
k
e
t
t
a
v
i
r
e
n
d
e
r
p
o
o
j
a
s
m
t

s
u
n
i
t
a
a
j
a
y

n
a
r
a
y
a
n
s
a
n
t
o
s
h
s
h
e
e
t
a
l
y
a
s
h

m
i
t
t
a
l
b
a
r
j
r
a
j
y
o
g
n
d
e
r
v
i
d
h
i
d
u
r
g
a
m
e
e
n
a
k
h
u
r
s
i
d
r
i
n
k
i
l
a
l
i
t

r
a
n
a
r
a
g
h
u
n
a
n
d
a
n

d
a
s
y
o
g
e
s
h
h
i
m
a
n
s
h
i

@

r
o
s
h
a
n
i
s
e
e
m
a

k
h
a
t
u
n
p
r
e
e
t
i
r
a
v
i
n
d
r
a

k
u
m
a
r
s
u
r
e
s
h

k
u
m
a
r
a
n
s
h
u
m
u
k
u
l

y
a
d
a
v
p
r
e
e
t
y
s
i
m
r
a
n
m
a
n
j
u
h
i
n
a
s
u
n
i
t
a

TypeError: 'float' object is not iterable

In [44]:
ord("a")

97

In [45]:
age
name
phone_no
dob_year 
dob_month 
dob_day 
addhar_no

        addhar_no
0    546550839738
1    593116539308
2    616538616493
3    255157338359
4    894837180905
..            ...
595  561389943360
596  422408233607
597  421724641745
598  385411671083
599  392778282718

[600 rows x 1 columns]

In [46]:
name.to_csv("name_600.csv",index= False)

In [47]:
name = pd.read_csv("D:\jupyter_notebook\SIH\name_600.csv")

OSError: [Errno 22] Invalid argument: 'D:\\jupyter_notebook\\SIH\name_600.csv'

In [48]:
name_new = pd.read_csv("name_600.csv")

In [49]:
name_new.head()

                name gender    race
0          jai singh      m  indian
1  shiv shakti singh      m  indian
2         raja kumar      m  indian
3              anita      f  indian
4              jyoti      f  indian

In [50]:
email = pd.read_csv("email.csv")

In [51]:
email.head()

       ashakumari@gmail.com
0           nitin@gmail.com
1          tripti@gmail.com
2         somdutt@gmail.com
3  bhagwatiprasad@gmail.com
4         yognder@gmail.com

In [341]:
d2.head()

,ashakumari@gmail.com
0,nitin@gmail.com
1,tripti@gmail.com
2,somdutt@gmail.com
3,bhagwatiprasad@gmail.com
4,yognder@gmail.com

In [33]:
d2.to_csv('data2.csv',index=False)

In [41]:
d2['aadhar_no'] = [int(i) for i in d2['addhar_no']]

In [47]:
age
name_new
phone_no
dob_year 
dob_month 
dob_day 
addhar_no
email

         ashakumari@gmail.com
0             nitin@gmail.com
1            tripti@gmail.com
2           somdutt@gmail.com
3    bhagwatiprasad@gmail.com
4           yognder@gmail.com
..                        ...
594           vikas@gmail.com
595           midda@gmail.com
596            tina@gmail.com
597           vipin@gmail.com
598            azaz@gmail.com

[599 rows x 1 columns]