In [254]:
import pandas as pd
import random_address
import numpy as np

In [255]:
name_male = pd.read_csv("D:\jupyter_notebook\SIH\Indian-Male-Names.csv")

In [256]:
name_male.head()

              name gender    race
0          barjraj      m  indian
1     ramdin verma      m  indian
2  sharat chandran      m  indian
3  birender mandal      m  indian
4             amit      m  indian

In [257]:
name_female =  pd.read_csv("D:\jupyter_notebook\SIH\Indian-Female-Names.csv")

In [258]:
name_female

                            name gender    race
0                        shivani      f  indian
1                           isha      f  indian
2                smt shyani devi      f  indian
3                          divya      f  indian
4                          mansi      f  indian
...                          ...    ...     ...
15377                 saroj devi      f  indian
15378              naina @ geeta      f  indian
15379  manju d/0 baboo lal jatav      f  indian
15380                    shivani      f  indian
15381                      nayna      f  indian

[15382 rows x 3 columns]

In [259]:
nm = name_male[:300]

In [260]:
nf = name_female[:300]

In [261]:
name = pd.concat([nm,nf])

In [262]:
type(name)

pandas.core.frame.DataFrame

In [263]:
type(nf)

pandas.core.frame.DataFrame

In [264]:
name = np.array(name)

In [265]:
name = pd.DataFrame(name,columns=["name","gender","race"])

In [266]:
type(name)

pandas.core.frame.DataFrame

In [267]:
name = name.sample(frac = 1)

In [268]:
name.head()

                name gender    race
544      asha kumari      f  indian
127            nitin      m  indian
583           tripti      f  indian
155         som dutt      m  indian
121  bhagwati prasad      m  indian

In [269]:
add = random_address.real_random_address_by_state("CA")

In [270]:
add

{'address1': '2086 Hillside Drive',
 'address2': '',
 'city': 'San Leandro',
 'state': 'CA',
 'postalCode': '94577',
 'coordinates': {'lat': 37.7238372, 'lng': -122.1334006}}

In [271]:
#add 
#addhar no
#dob
 #your #name, address?, #gender, #date of birth?,#age?, ten finger prints?, facial photograph?, #mobile number (optional)? and #email ID (optional)?,#addhar_no?.

In [272]:
import random

In [273]:
phno = []

In [274]:
for i in range(600):
    phno.append(random.randint(1000000000,9999999999))

In [275]:
phone_no = np.array(phno)

In [276]:
phone_no = pd.DataFrame(phone_no,columns=["phone_name"])

In [277]:
dob = []

In [278]:
import pandas as pd
import numpy as np
from datetime import date, timedelta
from random import choices
test_date1, test_date2 = date(1922, 1,1 ), date(2022, 1, 1)
K = 600
res_dates = [test_date1]
while test_date1 != test_date2:
    test_date1 += timedelta(days=1)
    res_dates.append(test_date1)
res = choices(res_dates, k=K)
dob.append(res)

In [279]:
phone_no.head()

   phone_name
0  7041777811
1  7649264094
2  3391682466
3  8305024990
4  6372700974

In [280]:
from datetime import datetime

In [281]:
dob_year = []
dob_month = []
dob_day = []
dob_yr = []

In [282]:
for i in range(600):

    year = dob[0][i].strftime("%Y")
    month = dob[0][i].strftime("%m")
    day = dob[0][i].strftime("%d")
    dob_yr.append(year)
    dob_month.append(month)
    dob_day.append(day)

In [283]:
dob_year = np.array(dob_yr)
dob_month = np.array(dob_month)
dob_day = np.array(dob_day)

In [284]:
dob_year = pd.DataFrame(dob_year,columns=["dob_year"])
dob_month = pd.DataFrame(dob_month,columns=["dob_year"])
dob_day = pd.DataFrame(dob_day,columns=["dob_year"])

In [285]:
dob_year.head()

  dob_year
0     1944
1     1985
2     1946
3     1993
4     1955

In [286]:
age =[]
for i in dob_yr:
    age.append(int((date.today().year-int(i))))

In [287]:
type(age[10])

int

In [288]:
age = np.array(age)
age = pd.DataFrame(age,columns=["age"])

In [289]:
age.head()

   age
0   78
1   37
2   76
3   29
4   67

In [290]:
addhar_no = []
for i in range(600):
    addhar_no.append(random.randint(100000000000,999999999999))
addhar_no = np.array(addhar_no)
addhar_no = pd.DataFrame(addhar_no,columns=["addhar_no"])

In [291]:
addhar_no.head()

      addhar_no
0  971661941956
1  556730133501
2  525505683683
3  235681252902
4  925621932215

In [305]:
n = np.array(name["name"])

In [310]:
type(n[1])

str

In [328]:
index = []
counter = 0
for i in n:
    k = i
    for j in k:
        if(ord(j) >=65 and ord(j)<=122):
            index.append(counter)
    counter +=1

TypeError: 'float' object is not iterable

In [293]:
name["name"][3]

'birender mandal'

In [324]:
k = name["name"][3]
counter = 0

for j in n:
        for i in j:
            print(i)
        counter += 1

TypeError: 'float' object is not iterable

In [326]:
ord("a")

97

In [ ]:
age
name
phone_no
dob_year 
dob_month 
dob_day 
addhar_no

In [330]:
name.to_csv("name_600.csv",index= False)

In [333]:
name = pd.read_csv("D:\jupyter_notebook\SIH\name_600.csv")

OSError: [Errno 22] Invalid argument: 'D:\\jupyter_notebook\\SIH\name_600.csv'

In [337]:
name_new = pd.read_csv("name_600.csv")

In [338]:
name_new.head()

              name gender    race
0      asha kumari      f  indian
1            nitin      m  indian
2           tripti      f  indian
3         som dutt      m  indian
4  bhagwati prasad      m  indian

In [339]:
email = pd.read_csv("email.csv")

In [340]:
email.head()

       ashakumari@gmail.com
0           nitin@gmail.com
1          tripti@gmail.com
2         somdutt@gmail.com
3  bhagwatiprasad@gmail.com
4         yognder@gmail.com

In [341]:
age
name_new
phone_no
dob_year 
dob_month 
dob_day 
addhar_no
email

         ashakumari@gmail.com
0             nitin@gmail.com
1            tripti@gmail.com
2           somdutt@gmail.com
3    bhagwatiprasad@gmail.com
4           yognder@gmail.com
..                        ...
594           vikas@gmail.com
595           midda@gmail.com
596            tina@gmail.com
597           vipin@gmail.com
598            azaz@gmail.com

[599 rows x 1 columns]

In [32]:
import pandas as pd

In [21]:
d1 = pd.read_csv("data.csv")
d1.head()

,name,gender,race,age,phone_no,dob_year,dob_month,dob_day,addhar_no,email,...,img_rgt_thumb,img_rgt_index,img_rgt_middle,img_rgt_ring,img_rgt_little,img_left_thumb,img_left_index,img_left_middle,img_left_ring,img_left_little
0,nitin,m,indian,39,8870420417,1983,3,1,5.470000e+11,nitin@gmail.com,...,100__M_Right_thumb_finger.BMP,100__M_Right_index_finger.BMP,100__M_Right_middle_finger.BMP,100__M_Right_ring_finger.BMP,100__M_Right_little_finger.BMP,100__M_Left_thumb_finger.BMP,100__M_Left_index_finger.BMP,100__M_Left_middle_finger.BMP,100__M_Left_ring_finger.BMP,100__M_Left_little_finger.BMP
1,tripti,m,indian,82,6685222304,1940,11,24,5.930000e+11,tripti@gmail.com,...,101__M_Right_thumb_finger.BMP,101__M_Right_index_finger.BMP,101__M_Right_middle_finger.BMP,101__M_Right_ring_finger.BMP,101__M_Right_little_finger.BMP,101__M_Left_thumb_finger.BMP,101__M_Left_index_finger.BMP,101__M_Left_middle_finger.BMP,101__M_Left_ring_finger.BMP,101__M_Left_little_finger.BMP
2,somdutt,m,indian,22,1769586754,2000,1,2,6.170000e+11,somdutt@gmail.com,...,102__M_Right_thumb_finger.BMP,102__M_Right_index_finger.BMP,102__M_Right_middle_finger.BMP,102__M_Right_ring_finger.BMP,102__M_Right_little_finger.BMP,102__M_Left_thumb_finger.BMP,102__M_Left_index_finger.BMP,102__M_Left_middle_finger.BMP,102__M_Left_ring_finger.BMP,102__M_Left_little_finger.BMP
3,bhagwati prasad,f,indian,96,9150944354,1926,7,19,2.550000e+11,bhagwatiprasad@gmail.com,...,103__F_Right_thumb_finger.BMP,103__F_Right_index_finger.BMP,103__F_Right_middle_finger.BMP,103__F_Right_ring_finger.BMP,103__F_Right_little_finger.BMP,103__F_Left_thumb_finger.BMP,103__F_Left_index_finger.BMP,103__F_Left_middle_finger.BMP,103__F_Left_ring_finger.BMP,103__F_Left_little_finger.BMP
4,yognder,f,indian,9,8383788450,2013,4,24,8.950000e+11,yognder@gmail.com,...,104__M_Right_thumb_finger.BMP,104__M_Right_index_finger.BMP,104__M_Right_middle_finger.BMP,104__M_Right_ring_finger.BMP,104__M_Right_little_finger.BMP,104__M_Left_thumb_finger.BMP,104__M_Left_index_finger.BMP,104__M_Left_middle_finger.BMP,104__M_Left_ring_finger.BMP,104__M_Left_little_finger.BMP

In [22]:
d2 = d1.copy()
d2.head()

,name,gender,race,age,phone_no,dob_year,dob_month,dob_day,addhar_no,email,...,img_rgt_thumb,img_rgt_index,img_rgt_middle,img_rgt_ring,img_rgt_little,img_left_thumb,img_left_index,img_left_middle,img_left_ring,img_left_little
0,nitin,m,indian,39,8870420417,1983,3,1,5.470000e+11,nitin@gmail.com,...,100__M_Right_thumb_finger.BMP,100__M_Right_index_finger.BMP,100__M_Right_middle_finger.BMP,100__M_Right_ring_finger.BMP,100__M_Right_little_finger.BMP,100__M_Left_thumb_finger.BMP,100__M_Left_index_finger.BMP,100__M_Left_middle_finger.BMP,100__M_Left_ring_finger.BMP,100__M_Left_little_finger.BMP
1,tripti,m,indian,82,6685222304,1940,11,24,5.930000e+11,tripti@gmail.com,...,101__M_Right_thumb_finger.BMP,101__M_Right_index_finger.BMP,101__M_Right_middle_finger.BMP,101__M_Right_ring_finger.BMP,101__M_Right_little_finger.BMP,101__M_Left_thumb_finger.BMP,101__M_Left_index_finger.BMP,101__M_Left_middle_finger.BMP,101__M_Left_ring_finger.BMP,101__M_Left_little_finger.BMP
2,somdutt,m,indian,22,1769586754,2000,1,2,6.170000e+11,somdutt@gmail.com,...,102__M_Right_thumb_finger.BMP,102__M_Right_index_finger.BMP,102__M_Right_middle_finger.BMP,102__M_Right_ring_finger.BMP,102__M_Right_little_finger.BMP,102__M_Left_thumb_finger.BMP,102__M_Left_index_finger.BMP,102__M_Left_middle_finger.BMP,102__M_Left_ring_finger.BMP,102__M_Left_little_finger.BMP
3,bhagwati prasad,f,indian,96,9150944354,1926,7,19,2.550000e+11,bhagwatiprasad@gmail.com,...,103__F_Right_thumb_finger.BMP,103__F_Right_index_finger.BMP,103__F_Right_middle_finger.BMP,103__F_Right_ring_finger.BMP,103__F_Right_little_finger.BMP,103__F_Left_thumb_finger.BMP,103__F_Left_index_finger.BMP,103__F_Left_middle_finger.BMP,103__F_Left_ring_finger.BMP,103__F_Left_little_finger.BMP
4,yognder,f,indian,9,8383788450,2013,4,24,8.950000e+11,yognder@gmail.com,...,104__M_Right_thumb_finger.BMP,104__M_Right_index_finger.BMP,104__M_Right_middle_finger.BMP,104__M_Right_ring_finger.BMP,104__M_Right_little_finger.BMP,104__M_Left_thumb_finger.BMP,104__M_Left_index_finger.BMP,104__M_Left_middle_finger.BMP,104__M_Left_ring_finger.BMP,104__M_Left_little_finger.BMP

In [23]:
d2['gender'].replace('m','Male',inplace=True)
d2['gender'].replace('f','Female',inplace=True)

In [24]:
d2['race'].replace('indian','Indian',inplace=True)

In [25]:
d2.head()

,name,gender,race,age,phone_no,dob_year,dob_month,dob_day,addhar_no,email,...,img_rgt_thumb,img_rgt_index,img_rgt_middle,img_rgt_ring,img_rgt_little,img_left_thumb,img_left_index,img_left_middle,img_left_ring,img_left_little
0,nitin,Male,Indian,39,8870420417,1983,3,1,5.470000e+11,nitin@gmail.com,...,100__M_Right_thumb_finger.BMP,100__M_Right_index_finger.BMP,100__M_Right_middle_finger.BMP,100__M_Right_ring_finger.BMP,100__M_Right_little_finger.BMP,100__M_Left_thumb_finger.BMP,100__M_Left_index_finger.BMP,100__M_Left_middle_finger.BMP,100__M_Left_ring_finger.BMP,100__M_Left_little_finger.BMP
1,tripti,Male,Indian,82,6685222304,1940,11,24,5.930000e+11,tripti@gmail.com,...,101__M_Right_thumb_finger.BMP,101__M_Right_index_finger.BMP,101__M_Right_middle_finger.BMP,101__M_Right_ring_finger.BMP,101__M_Right_little_finger.BMP,101__M_Left_thumb_finger.BMP,101__M_Left_index_finger.BMP,101__M_Left_middle_finger.BMP,101__M_Left_ring_finger.BMP,101__M_Left_little_finger.BMP
2,somdutt,Male,Indian,22,1769586754,2000,1,2,6.170000e+11,somdutt@gmail.com,...,102__M_Right_thumb_finger.BMP,102__M_Right_index_finger.BMP,102__M_Right_middle_finger.BMP,102__M_Right_ring_finger.BMP,102__M_Right_little_finger.BMP,102__M_Left_thumb_finger.BMP,102__M_Left_index_finger.BMP,102__M_Left_middle_finger.BMP,102__M_Left_ring_finger.BMP,102__M_Left_little_finger.BMP
3,bhagwati prasad,Female,Indian,96,9150944354,1926,7,19,2.550000e+11,bhagwatiprasad@gmail.com,...,103__F_Right_thumb_finger.BMP,103__F_Right_index_finger.BMP,103__F_Right_middle_finger.BMP,103__F_Right_ring_finger.BMP,103__F_Right_little_finger.BMP,103__F_Left_thumb_finger.BMP,103__F_Left_index_finger.BMP,103__F_Left_middle_finger.BMP,103__F_Left_ring_finger.BMP,103__F_Left_little_finger.BMP
4,yognder,Female,Indian,9,8383788450,2013,4,24,8.950000e+11,yognder@gmail.com,...,104__M_Right_thumb_finger.BMP,104__M_Right_index_finger.BMP,104__M_Right_middle_finger.BMP,104__M_Right_ring_finger.BMP,104__M_Right_little_finger.BMP,104__M_Left_thumb_finger.BMP,104__M_Left_index_finger.BMP,104__M_Left_middle_finger.BMP,104__M_Left_ring_finger.BMP,104__M_Left_little_finger.BMP

In [26]:
# d2['Date of Birth'] = d2['dob_day'].astype(str) + '-' + d2['dob_month'].astype(str) + '-' + d2['dob_year'].astype(str)
d2.insert(5,'Date of Birth',d2['dob_day'].astype(str) + '-' + d2['dob_month'].astype(str) + '-' + d2['dob_year'].astype(str))

In [27]:
d2.head()

,name,gender,race,age,phone_no,Date of Birth,dob_year,dob_month,dob_day,addhar_no,...,img_rgt_thumb,img_rgt_index,img_rgt_middle,img_rgt_ring,img_rgt_little,img_left_thumb,img_left_index,img_left_middle,img_left_ring,img_left_little
0,nitin,Male,Indian,39,8870420417,1-3-1983,1983,3,1,5.470000e+11,...,100__M_Right_thumb_finger.BMP,100__M_Right_index_finger.BMP,100__M_Right_middle_finger.BMP,100__M_Right_ring_finger.BMP,100__M_Right_little_finger.BMP,100__M_Left_thumb_finger.BMP,100__M_Left_index_finger.BMP,100__M_Left_middle_finger.BMP,100__M_Left_ring_finger.BMP,100__M_Left_little_finger.BMP
1,tripti,Male,Indian,82,6685222304,24-11-1940,1940,11,24,5.930000e+11,...,101__M_Right_thumb_finger.BMP,101__M_Right_index_finger.BMP,101__M_Right_middle_finger.BMP,101__M_Right_ring_finger.BMP,101__M_Right_little_finger.BMP,101__M_Left_thumb_finger.BMP,101__M_Left_index_finger.BMP,101__M_Left_middle_finger.BMP,101__M_Left_ring_finger.BMP,101__M_Left_little_finger.BMP
2,somdutt,Male,Indian,22,1769586754,2-1-2000,2000,1,2,6.170000e+11,...,102__M_Right_thumb_finger.BMP,102__M_Right_index_finger.BMP,102__M_Right_middle_finger.BMP,102__M_Right_ring_finger.BMP,102__M_Right_little_finger.BMP,102__M_Left_thumb_finger.BMP,102__M_Left_index_finger.BMP,102__M_Left_middle_finger.BMP,102__M_Left_ring_finger.BMP,102__M_Left_little_finger.BMP
3,bhagwati prasad,Female,Indian,96,9150944354,19-7-1926,1926,7,19,2.550000e+11,...,103__F_Right_thumb_finger.BMP,103__F_Right_index_finger.BMP,103__F_Right_middle_finger.BMP,103__F_Right_ring_finger.BMP,103__F_Right_little_finger.BMP,103__F_Left_thumb_finger.BMP,103__F_Left_index_finger.BMP,103__F_Left_middle_finger.BMP,103__F_Left_ring_finger.BMP,103__F_Left_little_finger.BMP
4,yognder,Female,Indian,9,8383788450,24-4-2013,2013,4,24,8.950000e+11,...,104__M_Right_thumb_finger.BMP,104__M_Right_index_finger.BMP,104__M_Right_middle_finger.BMP,104__M_Right_ring_finger.BMP,104__M_Right_little_finger.BMP,104__M_Left_thumb_finger.BMP,104__M_Left_index_finger.BMP,104__M_Left_middle_finger.BMP,104__M_Left_ring_finger.BMP,104__M_Left_little_finger.BMP

In [28]:
d2.drop(['dob_year','dob_month','dob_day'],axis=1,inplace=True)

In [30]:
d2.head()

,name,gender,race,age,phone_no,Date of Birth,addhar_no,email,address,state,img_rgt_thumb,img_rgt_index,img_rgt_middle,img_rgt_ring,img_rgt_little,img_left_thumb,img_left_index,img_left_middle,img_left_ring,img_left_little
0,nitin,Male,Indian,39,8870420417,1-3-1983,5.470000e+11,nitin@gmail.com,H.No. 688\r\nSrinivas Path\r\nAmaravati-140368,Kerala,100__M_Right_thumb_finger.BMP,100__M_Right_index_finger.BMP,100__M_Right_middle_finger.BMP,100__M_Right_ring_finger.BMP,100__M_Right_little_finger.BMP,100__M_Left_thumb_finger.BMP,100__M_Left_index_finger.BMP,100__M_Left_middle_finger.BMP,100__M_Left_ring_finger.BMP,100__M_Left_little_finger.BMP
1,tripti,Male,Indian,82,6685222304,24-11-1940,5.930000e+11,tripti@gmail.com,"H.No. 05\r\nBal Marg, Ahmednagar-439474",Punjab,101__M_Right_thumb_finger.BMP,101__M_Right_index_finger.BMP,101__M_Right_middle_finger.BMP,101__M_Right_ring_finger.BMP,101__M_Right_little_finger.BMP,101__M_Left_thumb_finger.BMP,101__M_Left_index_finger.BMP,101__M_Left_middle_finger.BMP,101__M_Left_ring_finger.BMP,101__M_Left_little_finger.BMP
2,somdutt,Male,Indian,22,1769586754,2-1-2000,6.170000e+11,somdutt@gmail.com,"26/342, Zachariah Circle\r\nSolapur-535546",Arunachal Pradesh,102__M_Right_thumb_finger.BMP,102__M_Right_index_finger.BMP,102__M_Right_middle_finger.BMP,102__M_Right_ring_finger.BMP,102__M_Right_little_finger.BMP,102__M_Left_thumb_finger.BMP,102__M_Left_index_finger.BMP,102__M_Left_middle_finger.BMP,102__M_Left_ring_finger.BMP,102__M_Left_little_finger.BMP
3,bhagwati prasad,Female,Indian,96,9150944354,19-7-1926,2.550000e+11,bhagwatiprasad@gmail.com,"047, Krishnan Zila, Raurkela Industrial Townsh...",Karnataka,103__F_Right_thumb_finger.BMP,103__F_Right_index_finger.BMP,103__F_Right_middle_finger.BMP,103__F_Right_ring_finger.BMP,103__F_Right_little_finger.BMP,103__F_Left_thumb_finger.BMP,103__F_Left_index_finger.BMP,103__F_Left_middle_finger.BMP,103__F_Left_ring_finger.BMP,103__F_Left_little_finger.BMP
4,yognder,Female,Indian,9,8383788450,24-4-2013,8.950000e+11,yognder@gmail.com,207\r\nBehl Marg\r\nKollam 644605,Bihar,104__M_Right_thumb_finger.BMP,104__M_Right_index_finger.BMP,104__M_Right_middle_finger.BMP,104__M_Right_ring_finger.BMP,104__M_Right_little_finger.BMP,104__M_Left_thumb_finger.BMP,104__M_Left_index_finger.BMP,104__M_Left_middle_finger.BMP,104__M_Left_ring_finger.BMP,104__M_Left_little_finger.BMP

In [33]:
d2.to_csv('data2.csv',index=False)

In [41]:
d2['aadhar_no'] = [int(i) for i in d2['addhar_no']]

In [47]:
d2.head()

,name,gender,race,age,phone_no,Date of Birth,addhar_no,email,address,state,...,img_rgt_index,img_rgt_middle,img_rgt_ring,img_rgt_little,img_left_thumb,img_left_index,img_left_middle,img_left_ring,img_left_little,aadhar_no
0,nitin,Male,Indian,39,8870420417,1-3-1983,5.470000e+11,nitin@gmail.com,H.No. 688\r\nSrinivas Path\r\nAmaravati-140368,Kerala,...,100__M_Right_index_finger.BMP,100__M_Right_middle_finger.BMP,100__M_Right_ring_finger.BMP,100__M_Right_little_finger.BMP,100__M_Left_thumb_finger.BMP,100__M_Left_index_finger.BMP,100__M_Left_middle_finger.BMP,100__M_Left_ring_finger.BMP,100__M_Left_little_finger.BMP,547000000000
1,tripti,Male,Indian,82,6685222304,24-11-1940,5.930000e+11,tripti@gmail.com,"H.No. 05\r\nBal Marg, Ahmednagar-439474",Punjab,...,101__M_Right_index_finger.BMP,101__M_Right_middle_finger.BMP,101__M_Right_ring_finger.BMP,101__M_Right_little_finger.BMP,101__M_Left_thumb_finger.BMP,101__M_Left_index_finger.BMP,101__M_Left_middle_finger.BMP,101__M_Left_ring_finger.BMP,101__M_Left_little_finger.BMP,593000000000
2,somdutt,Male,Indian,22,1769586754,2-1-2000,6.170000e+11,somdutt@gmail.com,"26/342, Zachariah Circle\r\nSolapur-535546",Arunachal Pradesh,...,102__M_Right_index_finger.BMP,102__M_Right_middle_finger.BMP,102__M_Right_ring_finger.BMP,102__M_Right_little_finger.BMP,102__M_Left_thumb_finger.BMP,102__M_Left_index_finger.BMP,102__M_Left_middle_finger.BMP,102__M_Left_ring_finger.BMP,102__M_Left_little_finger.BMP,617000000000
3,bhagwati prasad,Female,Indian,96,9150944354,19-7-1926,2.550000e+11,bhagwatiprasad@gmail.com,"047, Krishnan Zila, Raurkela Industrial Townsh...",Karnataka,...,103__F_Right_index_finger.BMP,103__F_Right_middle_finger.BMP,103__F_Right_ring_finger.BMP,103__F_Right_little_finger.BMP,103__F_Left_thumb_finger.BMP,103__F_Left_index_finger.BMP,103__F_Left_middle_finger.BMP,103__F_Left_ring_finger.BMP,103__F_Left_little_finger.BMP,255000000000
4,yognder,Female,Indian,9,8383788450,24-4-2013,8.950000e+11,yognder@gmail.com,207\r\nBehl Marg\r\nKollam 644605,Bihar,...,104__M_Right_index_finger.BMP,104__M_Right_middle_finger.BMP,104__M_Right_ring_finger.BMP,104__M_Right_little_finger.BMP,104__M_Left_thumb_finger.BMP,104__M_Left_index_finger.BMP,104__M_Left_middle_finger.BMP,104__M_Left_ring_finger.BMP,104__M_Left_little_finger.BMP,895000000000

In [48]:
d2.drop(['addhar_no'],axis=1,inplace=True)

In [50]:
d2.insert(6,'Aadhar Number',d2['aadhar_no'])
d2.head()

,name,gender,race,age,phone_no,Date of Birth,Aadhar Number,email,address,state,...,img_rgt_index,img_rgt_middle,img_rgt_ring,img_rgt_little,img_left_thumb,img_left_index,img_left_middle,img_left_ring,img_left_little,aadhar_no
0,nitin,Male,Indian,39,8870420417,1-3-1983,547000000000,nitin@gmail.com,H.No. 688\r\nSrinivas Path\r\nAmaravati-140368,Kerala,...,100__M_Right_index_finger.BMP,100__M_Right_middle_finger.BMP,100__M_Right_ring_finger.BMP,100__M_Right_little_finger.BMP,100__M_Left_thumb_finger.BMP,100__M_Left_index_finger.BMP,100__M_Left_middle_finger.BMP,100__M_Left_ring_finger.BMP,100__M_Left_little_finger.BMP,547000000000
1,tripti,Male,Indian,82,6685222304,24-11-1940,593000000000,tripti@gmail.com,"H.No. 05\r\nBal Marg, Ahmednagar-439474",Punjab,...,101__M_Right_index_finger.BMP,101__M_Right_middle_finger.BMP,101__M_Right_ring_finger.BMP,101__M_Right_little_finger.BMP,101__M_Left_thumb_finger.BMP,101__M_Left_index_finger.BMP,101__M_Left_middle_finger.BMP,101__M_Left_ring_finger.BMP,101__M_Left_little_finger.BMP,593000000000
2,somdutt,Male,Indian,22,1769586754,2-1-2000,617000000000,somdutt@gmail.com,"26/342, Zachariah Circle\r\nSolapur-535546",Arunachal Pradesh,...,102__M_Right_index_finger.BMP,102__M_Right_middle_finger.BMP,102__M_Right_ring_finger.BMP,102__M_Right_little_finger.BMP,102__M_Left_thumb_finger.BMP,102__M_Left_index_finger.BMP,102__M_Left_middle_finger.BMP,102__M_Left_ring_finger.BMP,102__M_Left_little_finger.BMP,617000000000
3,bhagwati prasad,Female,Indian,96,9150944354,19-7-1926,255000000000,bhagwatiprasad@gmail.com,"047, Krishnan Zila, Raurkela Industrial Townsh...",Karnataka,...,103__F_Right_index_finger.BMP,103__F_Right_middle_finger.BMP,103__F_Right_ring_finger.BMP,103__F_Right_little_finger.BMP,103__F_Left_thumb_finger.BMP,103__F_Left_index_finger.BMP,103__F_Left_middle_finger.BMP,103__F_Left_ring_finger.BMP,103__F_Left_little_finger.BMP,255000000000
4,yognder,Female,Indian,9,8383788450,24-4-2013,895000000000,yognder@gmail.com,207\r\nBehl Marg\r\nKollam 644605,Bihar,...,104__M_Right_index_finger.BMP,104__M_Right_middle_finger.BMP,104__M_Right_ring_finger.BMP,104__M_Right_little_finger.BMP,104__M_Left_thumb_finger.BMP,104__M_Left_index_finger.BMP,104__M_Left_middle_finger.BMP,104__M_Left_ring_finger.BMP,104__M_Left_little_finger.BMP,895000000000

In [51]:
d2.drop(['aadhar_no'],axis=1,inplace=True)

In [54]:
d2.drop(['email','img_rgt_thumb','img_rgt_index','img_rgt_middle','img_rgt_ring',
        'img_rgt_little','img_left_thumb','img_left_index','img_left_middle',
        'img_left_ring','img_left_little'],axis=1,inplace=True)

In [56]:
d2.to_csv('data2.csv',index=False)

In [55]:
d2.head()

,name,gender,race,age,phone_no,Date of Birth,Aadhar Number,address,state
0,nitin,Male,Indian,39,8870420417,1-3-1983,547000000000,H.No. 688\r\nSrinivas Path\r\nAmaravati-140368,Kerala
1,tripti,Male,Indian,82,6685222304,24-11-1940,593000000000,"H.No. 05\r\nBal Marg, Ahmednagar-439474",Punjab
2,somdutt,Male,Indian,22,1769586754,2-1-2000,617000000000,"26/342, Zachariah Circle\r\nSolapur-535546",Arunachal Pradesh
3,bhagwati prasad,Female,Indian,96,9150944354,19-7-1926,255000000000,"047, Krishnan Zila, Raurkela Industrial Townsh...",Karnataka
4,yognder,Female,Indian,9,8383788450,24-4-2013,895000000000,207\r\nBehl Marg\r\nKollam 644605,Bihar

In [59]:
d2['Aadhar Number'] = [str(i)[0:4]+' '+str(i)[4:8]+' '+str(i)[8:12] for i in d2['Aadhar Number']]

In [61]:
d2.to_csv('data2.csv',index=False)